@model IEnumerable<LMS_Assig_.Models.Assignment>

<p>
    <a asp-action="Index" class="btn btn-outline-dark">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                Download File
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                    <a asp-action="Download" class="btn btn-primary mx-2" asp-route-fileName="@item.FilePath">Download File</a>
            </td>
        </tr>
}
    </tbody>
</table>
