@model IEnumerable<LMS_Assig_.Models.Assignment>

<a asp-action="Upload" class="btn btn-primary">Upload Assignment</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                Download
            </th>
            <th>
                All Class Files
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    <a asp-action="Download" asp-route-fileName="@item.FilePath">Download File</a>
                </td>
                <td>
                    <a asp-action="AllAnswer" class="btn btn-warning mx-2" asp-route-id="@item.Id">Upload File</a>
                </td>
                @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
            </tr>
        }
    </tbody>
</table>

